<%@ Master Language="C#" MasterPageFile="~/Tasks/Lab5/MasterPage.master" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server" />
</asp:Content>
